<div class = "container">
  <div class ="row">
<h1>Stupid coaching:</h1>
  </div>
  <div class ="row">
<p>Ask your coach anything:</p>
  </div>
  <div class = "row" display: inline-block>
    <div class = "col-8">
<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="What do you want to ask?" class="form-control form-control-lg">
    </div>
  <div class = "col-2">
  <input type="submit" value="ask" class="form-control form-control-lg bg-primary">
  </div>
  </div>
</div>
</form>
